
.row
{
    padding-right: 0px;
    padding-left: 0px;
    justify-content: center;
    align-items: baseline;
}

.section
{
    flex-wrap: nowrap;
    flex-grow: 2;
    border-radius: 5px;
    background-color: whitesmoke;
    margin: 10px;
}

/* .section h2
{
    text-align: center;
    margin: 5px;
} */