@import "menu.css";

/* Style the body */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}


/* Header/logo Title */
.header {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-align: center;
    background: #bb0000;
    color: white;
    padding-bottom: 1px;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
    margin: 5px;
    margin-bottom: 0px;
}



/* Column container */
.row {  

    align-items: center;
    justify-content: center;
    padding-right: 5%;
    padding-left: 5%;
    height: 1000px;

}


/* Main column */
.sect {  
    flex: 70%;
    background-color: white;
    padding: 10px;
    align-content: center;
    max-width: 80%;
    background-color: #ddd;
    border-radius: 20px;
    margin: 10px;

    transition-property: color;
    transition-duration: .5s;

    color: rgba(0, 0, 0, 0.6);
}

.sect ul{
    max-width: 60%;
}

.sect ul li{
    padding-bottom: 10px;
}

.sect h1 {
    margin: 0px;
    max-width: 60%;
    color: black;
}

.sect img{
    max-width: 95%;
    display: inline-block;
}

.sect table{
    max-width: 40%;
    float: right;
    display: block;
    text-align: center;

}

.sect:hover {
    color: rgba(0, 0, 0, 1);
}





.side {
    -ms-flex: 30%; /* IE10 */
    flex: 100%;
    padding: 10px;
    text-align: center;
}



/* Footer */
.footer {
padding: 20px;
text-align: center;
background: #ddd;
}



/* Phones */
@media only screen and (max-width: 768px) {
    .row {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        padding-right:0px;
        padding-left: 0px;
    }
    
    .sect {
        padding: 2px;
        width: 90%;
    }

    .side {
        padding:0px;
    }
}

/* Tablets */
@media only screen and (max-width: 992px) and (min-width: 768px) {
    .row {
        padding-right: 5%;
        padding-left: 5%;
    }
    
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
.navbar a {
    float: none;
    width: 100%;
}
}

