@import "menu.css";

/* Style the body */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}


/* Header/logo Title */
.header {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    background: #222;
    color: white;
    padding: 5px 10px;
    font-size: 35px;
    margin: 5px;
    margin-bottom: 0px;
}


/* Column container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-right: 10%;
    padding-left: 10%;
}


/* Main column */
.main {  
    flex: 70%;
    background-color: white;
    padding: 10px;
    align-content: center;
    max-width: 80%;
}

.side {
    -ms-flex: 30%; /* IE10 */
    flex: 100%;
    padding: 10px;
    text-align: center;
}



/* Footer */
.footer {
padding: 20px;
text-align: center;
background: #ddd;
}



/* Phones */
@media only screen and (max-width: 768px) {
    .row {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        padding-right:0px;
        padding-left: 0px;
    }
    
    .main {
        padding: 2px;
        width: 90%;
    }

    .side {
        padding:0px;
    }
}

/* Tablets */
@media only screen and (max-width: 992px) and (min-width: 768px) {
    .row {
        padding-right: 5%;
        padding-left: 5%;
    }
    
}


@media screen and (max-width: 400px) {
.navbar a {
    float: none;
    width: 100%;
}
}