@import "menu.css";


/* Style the body */
html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    min-height: 100vh;
    /* height: 100%; */
    display: flex;
    flex-flow: column;
    color: white;
}


/* Header/logo Title */
.header {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    background: #222;
    color: white;
    padding: 5px 10px;
    font-size: 35px;
    margin: 5px;
    margin-bottom: 0px;
}


/* unvisited link */
a:link {
    color: rgb(240, 197, 43);
}

/* visited link */
a:visited {
    color: rgb(194, 153, 7);
}

/* mouse over link */
a:hover {
    color: green;
}

.box .row.content {
    flex: 1 1 auto;
    color: white;
}
  



/* Column container */
.row {  
    font-family: 'Open Sans', sans-serif;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    /* align-items: center; */
    align-items: flex-start;
    justify-content: center;
    padding-right: 10%;
    padding-left: 10%;
    background-image: linear-gradient(#333, #444);
    flex: 1 1 auto;
}


/* Main column */
.main {  
    flex: 70%;
    /* background-color: #444; */
    padding: 10px;
    align-content: center;
    max-width: 80%;
}

.secondary {
    padding: 10px;
    text-align: center;
    flex: 100%;
    padding: 10px;
    align-content: center;
    max-width: 80%;
}

.side {
    -ms-flex: 30%; /* IE10 */
    flex: 100%;
    padding: 10px;
    text-align: center;
}


/* Main column */
.main_attention {  
    flex: 70%;
    padding: 10px;
    max-width: 80%;
    min-width: 60%;
    display: grid;
}

.main_attention div {
    width: fit-content;
    height: fit-content;
}

.main_attention h1 {
    width: fit-content;
    margin: 0px;
    white-space: nowrap;
}

.main_attention h2 {
    width: fit-content;
    margin-top: 0px;
    margin-bottom: 5px;
}

.main_attention h3 {
    width: fit-content;
    margin-top: 5px;
    margin-bottom: 0px;

}




/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #333;
    color: whitesmoke;
}



/* Phones */
@media only screen and (max-width: 768px) {
    .row {
        /* flex-direction: column; */
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
    
    .main {
        padding: 2px;
        width: 97%;
        max-width: 97%;
    }

    .side {
        padding:0px;
    }
}

/* Tablets */
@media only screen and (max-width: 992px) and (min-width: 768px) {
    .row {
        padding-right: 5%;
        padding-left: 5%;
    }
    
}


@media screen and (max-width: 400px) {
.navbar a {
    float: none;
    width: 100%;
}
}